= form_with(model: [game, game.comments.build], html: { class: "form-inline" }, local: true) do |form|
  %div.container
    %div.row
      %div.col.form_group
        = form.text_field :content, placeholder: "コメントする", size: "50", class: "form-control"
      %div.col.form_group
        = form.submit "コメントする", class: "btn btn-primary"