%h1.midasi コメント
- comments.each do |c|
  .h5.midasi.my-2= c.user.name
  &emsp;
  = c.content
  &emsp;
  %small= link_to "削除", "game/comments/#{c.id}", method: :delete, data: { confirm: "削除しますか？" }, class: "text-danger" if same_user?(c.user)
  