%h1.midasi コメント
- comments.each do |c|
  %div.comment
    %span.user-name= c.user.name
    %h4.mt-3.pl-5
      = c.content
    .text-right= link_to "削除", "game/comments/#{c.id}", method: :delete, data: { confirm: "削除しますか？" }, class: "text-danger" if same_user?(c.user)
  