<div class="my-3">
  <div class="container">
    <div class="row justify-content-start">
      
      <h3>いいね数: <%= @game.likes.count %></h3>
      
      <div class="ml-3">
        <% if current_user.already_liked?(@game) %>
          <%= button_to 'いいねを取り消す', game_like_path(@game), method: :delete, class: "btn btn-success" %>
        <% else %>
          <%= button_to 'いいね', game_likes_path(@game), class: "btn btn-outline-success" %>
        <% end %>
      </div>
      
    </div>
  </div>
</div>
