.text-right.my-2= link_to "編集", edit_user_path(@user), class: "btn" if same_user?(@user)
%h1.midasi マイページ


= render 'simple_calendar/game_calendar', {user: @user, matches: @matches}
      
%h1.midasi 自分の投稿 
= render 'rates/rate_card', rates: @rates
%div.mt-2
  = paginate @rates
