%div.container
  %div.row.d-flex.align-items-center
    %div.mx-2
      %h1 マイページ
    %div.mx-2
      = link_to "編集", edit_user_path(@user), class: "btn btn-outline-secondary" if same_user?(@user)

  = render 'simple_calendar/game_calendar', {user: @user, matches: @matches}
      
  %h2.text-center 自分の投稿 
  = render 'rates/rate_card', rates: @rates
  %div.mt-2
    = paginate @rates
