<h1>フォロー</h1>

  <table class="table">
    
    <%= render 'show_users_header' %>
    
    <% @user.followings.each do |user| %>
      <%= render 'show_users', user: user %>
    <% end %>
    
  </table>