<table class="table table-bordered">
  
  <thead class="thead">
    <tr>
      <th scope="col">名前</th>
      <th scope="col">メッセージ</th>
    </tr>
  </thead>
  
  <% @chats.each do |c| %>
  <tbody>
    <tr>
      <td>
        <%= render 'layouts/profile_image', c: c %>
      </td>
      <td><%= c.message %></td>
    </tr>
  </tbody>
  <% end %>
  
</table>