%table.table.table-bordered
  %thead.thead
    %tr
      %th{:scope => "col"} 名前
      %th{:scope => "col"} メッセージ
  - @chats.each do |c|
    %tbody
      %tr
        %td
          = c_profile_image(c)
        %td= c.message
