<div class="container">
  <div class="d-flex justify-content-around">
    <div class="row">
      <% @games.each do |game| %>
        <%= render 'card', game: game %>
      <% end %>
    </div>
  </div>
</div>