%div.container.mt-3
  %h2.text-center.my-3 ピックアップマッチ
  = render 'games', matches: @matches
        
  %h2.text-center.my-2
    = link_to "投稿一覧", rates_path, class: "text-dark"
  = render 'rates/rate_card', rates: @rates