/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 */

@import "bootstrap";    

.pagination {
  justify-content: center;
}

.l-wrapper_06 {
  margin: 1rem auto;
  width: 100%;
}

.l-wrapper_06:hover {
  transform: translateY(-5px);
  box-shadow: 0 7px 34px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  transition: all .5s;
}

.card {
    box-shadow: 0 2px 5px #ccc;
    border-radius: 10px;
    
}

.user-name {
  color: #4682b4;
  background-color: #e9e9e9;
  padding: 0px 10px;
  border-radius: 10px;
  border: solid #4682b4;;
  font-weight: 500;
}

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

/* fontawesome */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* Simple Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }

/* body */
body {
  background: #e9e9e9;
  color: #5e5e5e;
  font: 400 87.5%/1.5em 'Open Sans', sans-serif;
}

/* Form Layout */
.form-wrapper {
  background: #fafafa;
  margin: 3em auto;
  padding: 0 1em;
  max-width: 370px;
}

h1 {
  text-align: center;
  padding: 0.75em 0;
}

form {
  padding: 0 1.5em;
}

.form-item {
  margin-bottom: 0.75em;
  width: 100%;
}

.form-item input {
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
}

.form-item input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.button-panel {
  margin: 2em 0 0;
  width: 100%;
}

.button-panel .button {
  background: #4682b4;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
}

.button:hover {
  background: #87cefa;
}

.form-footer {
  font-size: 1em;
  padding: 2em 0;
  text-align: center;
}

.form-footer a {
  color: #8c8c8c;
  text-decoration: none;
  transition: border-color 0.3s;
}

.form-footer a:hover {
  border-bottom: 1px dotted #8c8c8c;
}

.card {
  animation: popup 0.6s cubic-bezier(0.22, 1, 0.36, 1) 1 forwards;
}
 
@keyframes popup {
  0% {
    transform: translateY(40px) scale(0.8);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1.0);
  }
  80%, 100% {
    opacity: 1;
  }
}

.midasi{
  color: #4682b4;
}

.btn {
  color: #4682b4;
  border-color: #4682b4;
}

.btn:hover {
  background: #4682b4;
  color: #e9e9e9;
}

.btn.danger {
  color: #cd5c5c;
  border-color: #cd5c5c;
}

.btn.danger:hover {
  color: #e9e9e9;
  background: #cd5c5c;
}

thead {
  background: #4682b4;
  color: #e9e9e9;
}

.page-link {
  color: #4682b4;
}

.pagination>li>a {          
  border: none;     /*枠線をなくす*/
}

.page-item.bg>a{ 
  background: #4682b4;
  color: #e9e9e9;
  }
  
.page-item>a:hover{ 
  background: #4682b4;
  color: #e9e9e9;
  }

.comment {
  border-bottom: solid;
  border-color: 	#99CCFF;
  margin-top: 10px;
}


.navbar {
  border-radius: 20px;
  margin-top: 10px;
  padding: 20px;
  
} 

.moji {
  color: #4682b4;
  font-weight: bold;
  font-size: 20px;
}

.dropdown-item{
  color: #4682b4;
}

.btn.league {
  border-color: #4682b4;
  color: #4682b4;
  border-radius: 20px;
}

.btn.league:hover {
  background: #4682b4;
  color: #e9e9e9;
}