// Place all the styles related to the rates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// username
.user-name {
  color: #4682b4;
  background-color: #e9e9e9;
  padding: 0px 10px;
  border-radius: 10px;
  border: solid #4682b4;;
  font-weight: 500;
}

// range_field
.range {
  background: #fff;
  height: 2rem;
  width: 100%;
  border-radius: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 80%;
  height: 100%;
  background: transparent;

  &:focus {
    outline: none;
  }

  //WEBKIT
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #e9e9e9;
    margin-top: -5px;
    box-shadow: 1px 1px 2px rgba(#000, 0.5);

    cursor: pointer;
    
  }

  &::-webkit-slider-runnable-track {
    width: 60%;
    height: 9px;
    background: #4682b4;
    border-radius: 3rem;

    transition: all 0.5s;
    cursor: pointer;
  }

  &:hover::-webkit-slider-runnable-track {
    background: #4682b4;
  }
}
