// title
%h1
  = image_tag team_logo(team['id']), size: "50x50"
  = team['name']

// player info  
%div.container
  %div.row
    - players.each do |p|
      = form.fields_for :players do |f|
        = render 'field_form', {f: f, player: p, team_id: team['id']}
        